/* NAVIGATION  */
nav {
}

nav ul {
  list-style-type: none;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 60vw;
  width: 30vw;
  padding: 2vw;
  padding-bottom: 0vw;
  padding-top: 0vw;
}

a {
  color: black;
  text-decoration-line: underline;
  font-size: 1rem;
  line-height: 1rem;
}
body {
  margin: 2vw;
}
