/* NAVIGATION  */
nav {
  padding-top: 2vw;
}

nav ul {
  list-style-type: none;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 65vw;
  width: 30vw;
  padding: 2vw;
  padding-bottom: 0vw;
  padding-top: 0vw;
}

a {
  color: white;
  text-decoration-line: underline;
  font-size: 1rem;
  line-height: 1rem;
}
body {
  padding: 0px;
  margin: 0px;
}
/* HEADER */
.bg_img {
  width: 100vw;
  z-index: -1;
  position: absolute;
  height: 80vh;
}
.back_arrow {
  padding-left: 2vw;
  position: absolute;
  margin-bottom: 2vw;
  font-size: 1.1rem;
}
h1 {
  color: white;
}
p.topheader {
  display: flex;
  align-items: flex-end;
}
img.topheader {
  width: 100vw;
}
h1.title {
  color: white;
  margin-left: 20vw;
  font-size: 130px;
}
h1.sub_title {
  background-color: white;
  color: #231f20;
  margin-left: 20vw;
  font-size: 50px;
  display: flex;
  z-index: 0;
  position: relative;
  padding: 3vw;
}
/* MAIN */
main {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
}
